<%= debug @bill %>

Vendor: <%= link_to "Vendor...", vendor_path(@bill.vendor) if @bill.vendor %>

<h2>Transactions</h2>
<table>
  <thead>
    <tr>
      <th>Nummer</th>
    </tr>
  </thead>
  <tbody>
  <% for transaction in @bill.transactions do %>
    <tr>
      <td><%= transaction.number %></td>
      <td><%= link_to "Details...", transaction_path(transaction) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
